* {
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
} 

#intestazione {
    background-color: lightblue;
    background-image: url(./img/pattern.png);
    background-size: 35%;
    background-position: top;
    height: 100px;
}

header > img {
    margin-top: 50px;
}

main, footer {
    margin: auto;
    max-width: 80%;
}

.sottotitolo {
    color: lightslategray;
}

#span-in-blu {
    color: blue;
}

#info-photo-tim {
    font-size: small;
}

.contenitore {
    margin-left: 1em;
}

p {
    margin-bottom: 20px;
}

table {
    text-align: center;
    border-spacing: 0;
}

td {
    width: 400px;
}

th {
    color: white;
    background-color: rgb(37, 175, 209);
}

.righe-colorate  {
    background-color: lightblue;
}

.foto-footer-1 {
    width: 300px;
    height: 200px;
    color: white;
    font-size: larger;
    text-align: center;
    margin: 10px;
    background-image: url(./img/monitor.jpg);
}

.foto-footer-2 {
    width: 300px;
    height: 200px;
    color: white;
    font-size: larger;
    text-align: center;
    margin: 10px;
    background-image: url(./img/graph.jpg);
}